<a href="https://colab.research.google.com/github/komalrajgor/PW-Assignments/blob/main/AssignmentNo_2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Types and Structures

Theroy Questions

Q1. What are data structures, and why are they important?

Ans. Data structures are organized ways to store, manage, and retrieve data efficiently. They help in optimizing code performance, memory usage, and make problem-solving easier.

Q2.  Explain the difference between mutable and immutable data types with examples?

Ans. Mutable: Can be changed after creation (e.g., list, dict, set).

Immutable: Cannot be changed after creation (e.g., int, float, str, tuple)

In [ ]:
my_list = [1, 2]
my_list[0] = 100
print (my_list)

[100, 2]

In [ ]:
my_str = "Hello"
my_str[0] = 'h'
print(my_str)

TypeError: 'str' object does not support item assignment

Q3. What are the main differences between lists and tuples in Python?

Ans. List: Mutable, dynamic, uses more memory.

Tuple: Immutable, faster, used for fixed data

Q4. Describe how dictionaries store data?

Ans.Dictionaries use hash tables to store data in key-value pairs. Each key is hashed to a unique index to allow fast lookup

Q5. Why might you use a set instead of a list in Python?

Ans. Sets automatically remove duplicates.

Membership tests in set are faster than in lists

Q6. What is a string in Python, and how is it different from a list?

Ans.String is data type used to represent sequence of characters.
difference between-
String: Sequence of characters, immutable.

List: Sequence of any data type, mutable.

Q7. How do tuples ensure data integrity in Python?

Ans Tuples are immutable, they protect the data from accidental modifications.

Q8. What is a hash table, and how does it relate to dictionaries in Python?

Ans.Dictionaries use hash tables under the hood to allow fast access via keys.

Q9. Can lists contain different data types in Python?

Ans. Yes, lists can contain different data types.

Q10. Explain why strings are immutable in Python?

Ans. Strings are immutable because they ensure memory efficiency, thread safety, and to enable hashing.

Q11. What advantages do dictionaries offer over lists for certain tasks?

Ans. Faster lookups by key

Better data labeling using keys

Q12. Describe a scenario where using a tuple would be preferable over a list?

Ans. Tuple is used when data shouldn’t be modified and To use as dictionary keys when only immutable types allowed.

Q13. How do sets handle duplicate values in Python?

Ans.Sets remove duplicate values automaticlly

Q14. How does the “in” keyword work differently for lists and dictionaries?

Ans. In List, it checks if the value exists where as in dictionary it checks if the key exists.

Q15. Can you modify the elements of a tuple? Explain why or why not?

Ans. Tuple are immutable because they are stored with index numbers.

Q16. What is a nested dictionary, and give an example of its use case?

Ans.A Nested dectionary is where atleast one of its value is another dictionary..

Use case of this is to represent hierarchical, complex data

Q17. Describe the time complexity of accessing elements in a dictionary?

Ans. Accessing elements in a dictionary typically has a time complexity of O(1) on average, which means it takes constant time regardless of the dictionary's size. This is because dictionaries use a hash table internally to store and retrieve data, and hash table lookups are generally very fast

Q18. In what situations are lists preferred over dictionaries?

Ans. Dictionaries are preferred for quick data lookups.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans.Dictionaries are Stored in Hash which are unoreded.

Q20.  Explain the difference between a list and a dictionary in terms of data retrieval?

Ans. In data retiving, list perform faster for ordered operations like sorting, whereas dictinoary performs faster for lookup operations.

Pratical Questions

In [ ]:
#Q1 Write a code to create a string with your name and print it?
animal = "cat"
print(animal)

cat

In [ ]:
#Q2 Write a code to find the length of the string "Hello World"?
print(len('Hello World'))

11

In [ ]:
#Q3 Write a code to slice the first 3 characters from the string "Python Programming"?
print("Python Programming"[:3])

Pyt

In [ ]:
#Q4 Write a code to convert the string "hello" to uppercase?
print("hello".upper())

HELLO

In [ ]:
#Q5 Write a code to replace the word "apple" with "orange" in the string "I like apple
print("I like apple".replace("apple", "orange"))

I like orange

In [ ]:
#Q6 Write a code to create a list with numbers 1 to 5 and print it
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#Q7 Write a code to append the number 10 to the list [1, 2, 3, 4]?
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
#Q8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
#Q9  Write a code to access the second element in the list ['a', 'b', 'c', 'd']
A = ['a', 'b', 'c', 'd']
print(A[1])

b

In [ ]:
#Q10 Write a code to reverse the list [10, 20, 30, 40, 50].
print([10, 20, 30, 40, 50][::-1])

[50, 40, 30, 20, 10]

In [ ]:
#Q11 Write a code to create a tuple with the elements 100, 200, 300 and print it
my_tuple = (100,200,300)
print(my_tuple[:3])

(100, 200, 300)

In [ ]:
#Q12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [ ]:
#Q13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).
print(min((10, 20, 5, 15)))

5

In [24]:
#Q14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
print(('dog', 'cat', 'rabbit').index("cat"))

1

In [25]:
#Q15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [26]:
#Q16  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'b', 'a', 'c'}

In [27]:
#Q17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [29]:
#Q18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [30]:
#Q19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
print({1, 2, 3}.union({3, 4, 5}))

{1, 2, 3, 4, 5}

In [32]:
#Q20  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
print({1, 2, 3}.intersection({2, 3, 4}))

{2, 3}

In [33]:
#Q21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it
my_dict = {"name": "John", "age": 30, "city": "New York"}
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [34]:
#Q22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [36]:
#Q23  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict["name"])

Alice

In [37]:
#Q24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [38]:
#Q25  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
print("city" in my_dict)

True

In [43]:
#Q26 Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1,2,3]
my_tuple = (1,2,3)
my_dict = {"name": "John", "age": 30, "city": "New York"}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(1, 2, 3)
{'name': 'John', 'age': 30, 'city': 'New York'}

In [44]:
#Q27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[44, 48, 74, 85, 92]

In [47]:
#Q28 Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[2])

cherry

In [48]:
#Q29  Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [49]:
#Q30 Write a code to convert a list of strings into a set.
print(set(["apple", "banana", "cherry"]))

{'apple', 'banana', 'cherry'}